.card-bordered {
    border: 1px solid #ebebeb;
}

.card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    -webkit-transition: .5s;
    transition: .5s;
}

.padding {
    padding: 3rem !important
}

body {
    background-color: #f9f9fa
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card-header .card-title {
    padding: 0;
    border: none;
}

h4.card-title {
    font-size: 17px;
}

.card-header > *:last-child {
    margin-right: 0;
}

.card-header > * {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
}

.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
}

.btn-xs:hover {
    color: #fff !important;
}


.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}


.ps-container {
    position: relative;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
    display: flex;
}

.media {
    padding: 2px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media .avatar {
    flex-shrink: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
}

.media-body {
    min-width: 0;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 12px;
    font-weight: 100;
    color: #9b9b9b;
}

.media > * {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat.media-chat-reverse {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 2px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}

.media-chat .media-body p {
    position: relative;
    padding: 8px 10px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 12px;
}


.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
}

.publisher > *:first-child {
    margin-left: 0;
}

.publisher > * {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button, input, optgroup, select, textarea {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}

#chat-content {
    overflow-y: scroll !important;
    height: 400px !important;
    background-color: rgba(72, 87, 247, 0.42);
}


.fg-emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 370px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.62);
    background-color: white;
    overflow: hidden;
    z-index: 9999;
}

.fg-emoji-container svg {
    max-width: 100%;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

.fg-emoji-picker-category-title {
    display: block;
    margin: 20px 0 0 0;
    padding: 0 10px 5px 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    flex: 0 0 calc(100% - 20px);
    border-bottom: 1px solid #ededed;
}

.fg-emoji-nav {
    background-color: #646772;
}

.fg-emoji-nav li a svg {
    transition: all .2s ease;
    fill: white;
}

.fg-emoji-nav li:hover a svg {
    fill: black;
}

.fg-emoji-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dbdbdb;
}

.fg-emoji-nav ul li {
    flex: 1;
}

.fg-emoji-nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: all .2s ease;
}

.fg-emoji-nav ul li a:hover {
    background-color: #e9ebf1;
}

.fg-emoji-nav ul li.active a {
    background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active a {
    background-color: #e9ebf1;
}

.fg-emoji-nav ul li.emoji-picker-nav-active a svg {
    fill: #646772;
}

.fg-emoji-picker-move {
    /* pointer-events: none; */
    cursor: move;
}

.fg-picker-special-buttons a {
    background-color: #ed5e28;
}

.fg-picker-special-buttons:last-child a {
    box-shadow: inset 1px 0px 0px 0 rgba(0, 0, 0, 0.11);
}

.fg-emoji-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 323px;
}

.fg-emoji-picker-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.fg-emoji-list li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(100% / 6);
    height: 50px;
}

.fg-emoji-list li a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all .3s ease;
}

.fg-emoji-list li a:hover {
    background-color: #ebebeb;
}

.fg-emoji-picker-search {
    position: relative;
}

.fg-emoji-picker-search input {
    border: none;
    box-shadow: 0 0 0 0;
    outline: none;
    width: calc(100% - 30px);
    display: block;
    padding: 10px 15px;
    background-color: #f3f3f3;
}

.fg-emoji-picker-search .fg-emoji-picker-search-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-body .meta {
    margin: 0 !important;
    bottom: 5px;
}

.my-sticker {
    font-size: 50px;
}
